html, body {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
}
.containter {
    background-color: white;
    max-width: 500px;
    margin: 0 auto;
    min-height: 100%;
    overflow: hidden;
}
h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-left: -5px;
}
h3 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-top: -20px;
    margin-left: -5px;
}
header {
    background-color: aqua;
    width:100%;
}
nav {
    background-color: deepskyblue;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: deepskyblue
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 22px;
}
li a:hover {
    background-color: #0D42FF;
}
.headImg {
    width: 58px;
    height: 58px;
    display: block;
    float: left;
    margin-left: 1px;
}
.subMenu:hover .dropdown-content {
    display: block;
}
.dropdown-content {
    display: none;
    z-index: 1;
    position: absolute;
    background-color: #0DFFB7;
    text-align: left;
}
font-size: 16px;
}
.dropdown-content.li a{
    text-align: left;
}
@media screen and (max-width: 500px){
    ul.topnav li {float: none}
}
.noLs {
    margin-left: -5px;
}
.fLeft {
    float: left;
}
.text-block {
    position: absolute;
    top: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
